.banner {
    background-color:#1c744c ;
}
.menuu {
    display: flex;
    text-decoration:none;
    padding: 0px 15px;
    color: white;
    justify-content: space-around;
    justify-items: center;
        font-family: "Satoshi-variable",sherif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    
}
.barra {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 2px 12px;
}
body{
    margin: 0px;
}   

a:hover {
    background-color:   #248f60 ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}

.pagina-1 {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.stargreen {
    
    margin:auto;
    padding:80% 0 0 0 ;
}
.reserva {
    margin: auto;
    
}